# Objective : Data Cleaning (weightLog)

### Importing Required Libraries ->

In [1]:
import pandas as pd
import numpy as np 
import matplotlib.pyplot as plt
import seaborn as sns

### Load the Dataset ->

In [3]:
df = pd.read_csv("G:\My Drive\Prepinsta - Data Analytics\Week 8 - Task 8\Other\weightLogInfo_merged.csv",index_col=0)

### Preview the DataSet ->

In [4]:
df.head()

,Date,WeightKg,WeightPounds,Fat,BMI,IsManualReport,LogId
Id,,,,,,,
1503960366,5/2/2016 11:59:59 PM,52.599998,115.963147,22.0,22.650000,True,1462233599000
1503960366,5/3/2016 11:59:59 PM,52.599998,115.963147,NaN,22.650000,True,1462319999000
1927972279,4/13/2016 1:08:52 AM,133.500000,294.317120,NaN,47.540001,False,1460509732000
2873212765,4/21/2016 11:59:59 PM,56.700001,125.002104,NaN,21.450001,True,1461283199000
2873212765,5/12/2016 11:59:59 PM,57.299999,126.324875,NaN,21.690001,True,1463097599000

In [5]:
# Check the shape of dataset
df.shape

(67, 7)

### Remove null values if any ->

In [6]:
# check if is there any null values in the dataset
df.isnull().sum()

Date               0
WeightKg           0
WeightPounds       0
Fat               65
BMI                0
IsManualReport     0
LogId              0
dtype: int64

In [8]:
# fat feature has some null values, we need to drop those
df['Fat'] = df['Fat'].dropna()

### Splitting of Date column in Date and Time Respectively ->

In [10]:
# Define a function to split the ActivityHour column into ActivityDay and ActivityTime
def split_activity_hour(df, column_name='Date'):
    # Split the column into two parts: Date and Time
    split_columns = df[column_name].str.split(' ', expand=True)
    # Assign the split columns to the dataframe
    df['ActivityDay'] = pd.to_datetime(split_columns[0])  # Convert to datetime format
    df['ActivityTime'] = split_columns[1]
    # Drop the original ActivityHour column
    df.drop(column_name, axis=1, inplace=True)
    return df

In [11]:
# Apply the function to each dataset
df = split_activity_hour(df)
df.head()

,WeightKg,WeightPounds,Fat,BMI,IsManualReport,LogId,ActivityDay,ActivityTime
Id,,,,,,,,
1503960366,52.599998,115.963147,22.0,22.650000,True,1462233599000,2016-05-02,11:59:59
1503960366,52.599998,115.963147,22.0,22.650000,True,1462319999000,2016-05-03,11:59:59
1927972279,133.500000,294.317120,NaN,47.540001,False,1460509732000,2016-04-13,1:08:52
2873212765,56.700001,125.002104,NaN,21.450001,True,1461283199000,2016-04-21,11:59:59
2873212765,57.299999,126.324875,NaN,21.690001,True,1463097599000,2016-05-12,11:59:59

### Standerdize the column names ->

In [12]:
# Standardize column names
df.columns = df.columns.str.lower().str.replace(r'([a-z])([A-Z])', r'\1_\2').str.replace(r'[^a-z0-9_]', '', regex=True)

# Display the first few rows of the dataframe to verify the new column names
df.head()

,weightkg,weightpounds,fat,bmi,ismanualreport,logid,activityday,activitytime
Id,,,,,,,,
1503960366,52.599998,115.963147,22.0,22.650000,True,1462233599000,2016-05-02,11:59:59
1503960366,52.599998,115.963147,22.0,22.650000,True,1462319999000,2016-05-03,11:59:59
1927972279,133.500000,294.317120,NaN,47.540001,False,1460509732000,2016-04-13,1:08:52
2873212765,56.700001,125.002104,NaN,21.450001,True,1461283199000,2016-04-21,11:59:59
2873212765,57.299999,126.324875,NaN,21.690001,True,1463097599000,2016-05-12,11:59:59

### Rearrange the position of 'activityday' and 'activitytime' column ->

In [13]:
# Rearrange the position of 'activityday' column to be adjacent to 'id' column
cols = list(df.columns)
cols.insert(0, cols.pop(cols.index('activityday')))  # Move 'activityday' and 'acivitytime' next to 'id'
cols.insert(1, cols.pop(cols.index('activitytime'))) 
df = df[cols]

# Display the first few rows of the dataframe to verify the rearrangement
df.head()

,activityday,activitytime,weightkg,weightpounds,fat,bmi,ismanualreport,logid
Id,,,,,,,,
1503960366,2016-05-02,11:59:59,52.599998,115.963147,22.0,22.650000,True,1462233599000
1503960366,2016-05-03,11:59:59,52.599998,115.963147,22.0,22.650000,True,1462319999000
1927972279,2016-04-13,1:08:52,133.500000,294.317120,NaN,47.540001,False,1460509732000
2873212765,2016-04-21,11:59:59,56.700001,125.002104,NaN,21.450001,True,1461283199000
2873212765,2016-05-12,11:59:59,57.299999,126.324875,NaN,21.690001,True,1463097599000

### Formattin the activityday column as datetime datatype ->

In [14]:
# Convert 'activityday' and to datetime format
df['activityday'] = pd.to_datetime(df['activityday'], format='%d-%m-%Y')
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 67 entries, 1503960366 to 8877689391
Data columns (total 8 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   activityday     67 non-null     datetime64[ns]
 1   activitytime    67 non-null     object
 2   weightkg        67 non-null     float64
 3   weightpounds    67 non-null     float64
 4   fat             4 non-null      float64
 5   bmi             67 non-null     float64
 6   ismanualreport  67 non-null     bool
 7   logid           67 non-null     int64
dtypes: bool(1), datetime64[ns](1), float64(4), int64(1), object(1)
memory usage: 4.3+ KB

### Remove Duplicate values if any ->

In [15]:
# chek if is there any duplicate values in dataset
duplicates = duplicates = df.duplicated().sum()
duplicates

0

### Export the Dataset ->

In [16]:
df.to_csv("G:\My Drive\Prepinsta - Data Analytics\Week 8 - Task 8\Master Datasets\weightLog_data.csv")