# Objective : Data Cleaning (heartrate)

### Importing Required Libraries ->

In [1]:
import pandas as pd
import numpy as np 
import matplotlib.pyplot as plt
import seaborn as sns

### Load the Dataset ->

In [2]:
df = pd.read_csv("G:\My Drive\Prepinsta - Data Analytics\Week 8 - Task 8\Other\heartrate_seconds_merged.csv",index_col=0)

### Preview the DataSet ->

In [17]:
df.head()

           activityday activitytime  value
Id
2022484408  2016-04-12      7:21:00     97
2022484408  2016-04-12      7:21:05    102
2022484408  2016-04-12      7:21:10    105
2022484408  2016-04-12      7:21:20    103
2022484408  2016-04-12      7:21:25    101

In [4]:
# Check the shape of dataset
df.shape

(2483658, 2)

In [5]:
# check if is there any null values in the dataset
df.isnull().sum()

Time     0
Value    0
dtype: int64

In [6]:
# check the datatype of all the colimns in dataset
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 2483658 entries, 2022484408 to 8877689391
Data columns (total 2 columns):
 #   Column  Dtype
---  ------  -----
 0   Time    object
 1   Value   int64
dtypes: int64(1), object(1)
memory usage: 56.8+ MB

### Splitting of Time column in Date and Time Respectively ->

In [7]:
# Define a function to split the ActivityHour column into ActivityDay and ActivityTime
def split_activity_hour(df, column_name='Time'):
    # Split the column into two parts: Date and Time
    split_columns = df[column_name].str.split(' ', expand=True)
    # Assign the split columns to the dataframe
    df['ActivityDay'] = pd.to_datetime(split_columns[0])  # Convert to datetime format
    df['ActivityTime'] = split_columns[1]
    # Drop the original ActivityHour column
    df.drop(column_name, axis=1, inplace=True)
    return df

In [8]:
# Apply the function to each dataset
df = split_activity_hour(df)
df.head()

            Value ActivityDay ActivityTime
Id
2022484408     97  2016-04-12      7:21:00
2022484408    102  2016-04-12      7:21:05
2022484408    105  2016-04-12      7:21:10
2022484408    103  2016-04-12      7:21:20
2022484408    101  2016-04-12      7:21:25

### Standerdize the column names ->

In [9]:
# Standardize column names
df.columns = df.columns.str.lower().str.replace(r'([a-z])([A-Z])', r'\1_\2').str.replace(r'[^a-z0-9_]', '', regex=True)

# Display the first few rows of the dataframe to verify the new column names
df.head()

            value activityday activitytime
Id
2022484408     97  2016-04-12      7:21:00
2022484408    102  2016-04-12      7:21:05
2022484408    105  2016-04-12      7:21:10
2022484408    103  2016-04-12      7:21:20
2022484408    101  2016-04-12      7:21:25

### Rearrange the position of 'activityday' and 'activitytime' column ->

In [11]:
# Rearrange the position of 'activityday' column to be adjacent to 'id' column
cols = list(df.columns)
cols.insert(0, cols.pop(cols.index('activityday')))  # Move 'activityday' and 'acivitytime' next to 'id'
cols.insert(1, cols.pop(cols.index('activitytime'))) 
df = df[cols]

# Display the first few rows of the dataframe to verify the rearrangement
df.head()

           activityday activitytime  value
Id
2022484408  2016-04-12      7:21:00     97
2022484408  2016-04-12      7:21:05    102
2022484408  2016-04-12      7:21:10    105
2022484408  2016-04-12      7:21:20    103
2022484408  2016-04-12      7:21:25    101

### Formattin the activityday column as datetime datatype ->

In [12]:
# Convert 'activityday' and to datetime format
df['activityday'] = pd.to_datetime(df['activityday'], format='%d-%m-%Y')
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 2483658 entries, 2022484408 to 8877689391
Data columns (total 3 columns):
 #   Column        Dtype
---  ------        -----
 0   activityday   datetime64[ns]
 1   activitytime  object
 2   value         int64
dtypes: datetime64[ns](1), int64(1), object(1)
memory usage: 75.8+ MB

### Remove Duplicate values if any ->

In [13]:
# chek if is there any duplicate values in dataset
duplicates = duplicates = df.duplicated().sum()
duplicates

134066

In [14]:
# Remove duplicate rows, keeping the first occurrence of each duplicate
df = df.drop_duplicates()

### Export the Dataset ->

In [16]:
df.to_csv("G:\My Drive\Prepinsta - Data Analytics\Week 8 - Task 8\Master Datasets\heartrate_data.csv")