# Objective : Data Cleaning (minute - narrow)

### Importing the Required Libraries ->

In [1]:
import pandas as pd
import numpy as np 
import matplotlib.pyplot as plt 
import seaborn as sns

### Load and Preview the dataset ->

In [3]:
df = pd.read_csv(r"G:\My Drive\Prepinsta - Data Analytics\Week 8 - Task 8\Merging\Minute\Narrow\minute_merged_data_narrow.csv", index_col=0)
df.head()

           Id         ActivityMinute  Calories  Intensity  METs  Steps
0  1503960366  4/12/2016 12:00:00 AM    0.7865          0    10      0
1  1503960366  4/12/2016 12:01:00 AM    0.7865          0    10      0
2  1503960366  4/12/2016 12:02:00 AM    0.7865          0    10      0
3  1503960366  4/12/2016 12:03:00 AM    0.7865          0    10      0
4  1503960366  4/12/2016 12:04:00 AM    0.7865          0    10      0

In [3]:
# check the shape of dataset
df.shape

(1325580, 6)

In [4]:
# check if is there any null values in the dataset
df.isnull().sum()

Id                0
ActivityMinute    0
Calories          0
Intensity         0
METs              0
Steps             0
dtype: int64

In [5]:
# check the datatype of all the colimns in dataset
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1325580 entries, 0 to 1325579
Data columns (total 6 columns):
 #   Column          Non-Null Count    Dtype
---  ------          --------------    -----
 0   Id              1325580 non-null  int64
 1   ActivityMinute  1325580 non-null  object
 2   Calories        1325580 non-null  float64
 3   Intensity       1325580 non-null  int64
 4   METs            1325580 non-null  int64
 5   Steps           1325580 non-null  int64
dtypes: float64(1), int64(4), object(1)
memory usage: 70.8+ MB

### Splitting of ActivityMinute column in Date and Time Respectively ->

In [6]:
# Define a function to split the ActivityHour column into ActivityDay and ActivityTime
def split_activity_hour(df, column_name='ActivityMinute'):
    # Split the column into two parts: Date and Time
    split_columns = df[column_name].str.split(' ', expand=True)
    # Assign the split columns to the dataframe
    df['ActivityDay'] = pd.to_datetime(split_columns[0])  # Convert to datetime format
    df['ActivityTime'] = split_columns[1]
    # Drop the original ActivityHour column
    df.drop(column_name, axis=1, inplace=True)
    return df

In [7]:
# Apply the function to each dataset
df = split_activity_hour(df)
df.head()

           Id  Calories  Intensity  METs  Steps ActivityDay ActivityTime
0  1503960366    0.7865          0    10      0  2016-04-12     12:00:00
1  1503960366    0.7865          0    10      0  2016-04-12     12:01:00
2  1503960366    0.7865          0    10      0  2016-04-12     12:02:00
3  1503960366    0.7865          0    10      0  2016-04-12     12:03:00
4  1503960366    0.7865          0    10      0  2016-04-12     12:04:00

### Standerdize the column names ->

In [8]:
# Standardize column names
df.columns = df.columns.str.lower().str.replace(r'([a-z])([A-Z])', r'\1_\2').str.replace(r'[^a-z0-9_]', '', regex=True)

# Display the first few rows of the dataframe to verify the new column names
df.head()

           id  calories  intensity  mets  steps activityday activitytime
0  1503960366    0.7865          0    10      0  2016-04-12     12:00:00
1  1503960366    0.7865          0    10      0  2016-04-12     12:01:00
2  1503960366    0.7865          0    10      0  2016-04-12     12:02:00
3  1503960366    0.7865          0    10      0  2016-04-12     12:03:00
4  1503960366    0.7865          0    10      0  2016-04-12     12:04:00

### Rearrange the position of 'activityday' and 'activitytime' column ->

In [9]:
# Rearrange the position of 'activityday' column to be adjacent to 'id' column
cols = list(df.columns)
cols.insert(1, cols.pop(cols.index('activityday')))  # Move 'activityday' and 'acivitytime' next to 'id'
cols.insert(2, cols.pop(cols.index('activitytime'))) 
df = df[cols]

# Display the first few rows of the dataframe to verify the rearrangement
df.head()

           id activityday activitytime  calories  intensity  mets  steps
0  1503960366  2016-04-12     12:00:00    0.7865          0    10      0
1  1503960366  2016-04-12     12:01:00    0.7865          0    10      0
2  1503960366  2016-04-12     12:02:00    0.7865          0    10      0
3  1503960366  2016-04-12     12:03:00    0.7865          0    10      0
4  1503960366  2016-04-12     12:04:00    0.7865          0    10      0

### Formattin the activityday column as datetime datatype ->

In [10]:
# Convert 'activityday' and to datetime format
df['activityday'] = pd.to_datetime(df['activityday'], format='%d-%m-%Y')
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1325580 entries, 0 to 1325579
Data columns (total 7 columns):
 #   Column        Non-Null Count    Dtype
---  ------        --------------    -----
 0   id            1325580 non-null  int64
 1   activityday   1325580 non-null  datetime64[ns]
 2   activitytime  1325580 non-null  object
 3   calories      1325580 non-null  float64
 4   intensity     1325580 non-null  int64
 5   mets          1325580 non-null  int64
 6   steps         1325580 non-null  int64
dtypes: datetime64[ns](1), float64(1), int64(4), object(1)
memory usage: 80.9+ MB

### Remove Duplicate values if any ->

In [11]:
# chcek if is there any duplicate values in dataset
duplicates = duplicates = df.duplicated().sum()
duplicates

288371

In [12]:
# Remove duplicate rows, keeping the first occurrence of each duplicate
df = df.drop_duplicates()

### Export the Dataset ->

In [13]:
df.to_csv("G:\My Drive\Prepinsta - Data Analytics\Week 8 - Task 8\Master Datasets\minutely_merged_data_narrow.csv")