# Objective : Data Cleaning (minuteSleep)

### Import Required Libraries ->

In [1]:
import pandas as pd
import numpy as np 
import matplotlib.pyplot as plt
import seaborn as sns

### Load the Dataset ->

In [2]:
df = pd.read_csv("G:\My Drive\Prepinsta - Data Analytics\Week 8 - Task 8\Other\minuteSleep_merged.csv",index_col=0)

### Preview the DataSet ->

In [3]:
df.head()

                            date  value        logId
Id
1503960366  4/12/2016 2:47:30 AM      3  11380564589
1503960366  4/12/2016 2:48:30 AM      2  11380564589
1503960366  4/12/2016 2:49:30 AM      1  11380564589
1503960366  4/12/2016 2:50:30 AM      1  11380564589
1503960366  4/12/2016 2:51:30 AM      1  11380564589

In [4]:
# Check the shape of dataset
df.shape

(188521, 3)

In [5]:
# check if is there any null values in the dataset
df.isnull().sum()

date     0
value    0
logId    0
dtype: int64

In [6]:
# check the datatype of all the colimns in dataset
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 188521 entries, 1503960366 to 8792009665
Data columns (total 3 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   date    188521 non-null  object
 1   value   188521 non-null  int64
 2   logId   188521 non-null  int64
dtypes: int64(2), object(1)
memory usage: 5.8+ MB

### Splitting of ActivityHour column in Date and Time Respectively ->

In [7]:
# Define a function to split the ActivityHour column into ActivityDay and ActivityTime
def split_activity_hour(df, column_name='date'):
    # Split the column into two parts: Date and Time
    split_columns = df[column_name].str.split(' ', expand=True)
    # Assign the split columns to the dataframe
    df['ActivityDay'] = pd.to_datetime(split_columns[0])  # Convert to datetime format
    df['ActivityTime'] = split_columns[1]
    # Drop the original ActivityHour column
    df.drop(column_name, axis=1, inplace=True)
    return df

In [8]:
# Apply the function to each dataset
df = split_activity_hour(df)
df.head()

            value        logId ActivityDay ActivityTime
Id
1503960366      3  11380564589  2016-04-12      2:47:30
1503960366      2  11380564589  2016-04-12      2:48:30
1503960366      1  11380564589  2016-04-12      2:49:30
1503960366      1  11380564589  2016-04-12      2:50:30
1503960366      1  11380564589  2016-04-12      2:51:30

### Standerdize the column names ->

In [9]:
# Standardize column names
df.columns = df.columns.str.lower().str.replace(r'([a-z])([A-Z])', r'\1_\2').str.replace(r'[^a-z0-9_]', '', regex=True)

# Display the first few rows of the dataframe to verify the new column names
df.head()

            value        logid activityday activitytime
Id
1503960366      3  11380564589  2016-04-12      2:47:30
1503960366      2  11380564589  2016-04-12      2:48:30
1503960366      1  11380564589  2016-04-12      2:49:30
1503960366      1  11380564589  2016-04-12      2:50:30
1503960366      1  11380564589  2016-04-12      2:51:30

### Rearrange the position of 'activityday' and 'activitytime' column ->

In [10]:
# Rearrange the position of 'activityday' column to be adjacent to 'id' column
cols = list(df.columns)
cols.insert(0, cols.pop(cols.index('activityday')))  # Move 'activityday' and 'acivitytime' next to 'id'
cols.insert(1, cols.pop(cols.index('activitytime'))) 
df = df[cols]

# Display the first few rows of the dataframe to verify the rearrangement
df.head()

           activityday activitytime  value        logid
Id
1503960366  2016-04-12      2:47:30      3  11380564589
1503960366  2016-04-12      2:48:30      2  11380564589
1503960366  2016-04-12      2:49:30      1  11380564589
1503960366  2016-04-12      2:50:30      1  11380564589
1503960366  2016-04-12      2:51:30      1  11380564589

### Formattin the activityday column as datetime datatype ->

In [11]:
# Convert 'activityday' and to datetime format
df['activityday'] = pd.to_datetime(df['activityday'], format='%d-%m-%Y')
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 188521 entries, 1503960366 to 8792009665
Data columns (total 4 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   activityday   188521 non-null  datetime64[ns]
 1   activitytime  188521 non-null  object
 2   value         188521 non-null  int64
 3   logid         188521 non-null  int64
dtypes: datetime64[ns](1), int64(2), object(1)
memory usage: 7.2+ MB

### Remove Duplicate values if any ->

In [12]:
# chek if is there any duplicate values in dataset
duplicates = duplicates = df.duplicated().sum()
duplicates

629

In [13]:
# Remove duplicate rows, keeping the first occurrence of each duplicate
df = df.drop_duplicates()

### Export the Dataset ->

In [14]:
df.to_csv("G:\My Drive\Prepinsta - Data Analytics\Week 8 - Task 8\Master Datasets\minuteSleep_data.csv")