# Objective : Data Cleaning (minute - wide)

### Importing Required Libraries ->

In [1]:
import pandas as pd
import numpy as np 
import matplotlib.pyplot as plt 
import seaborn as sns

### Load and Preview the Datasets ->

In [2]:
df = pd.read_csv("G:\My Drive\Prepinsta - Data Analytics\Week 8 - Task 8\Merging\Minute\Wide\minute_merged_data_wide.csv",index_col = 0)
df.head()

           Id           ActivityHour  Minute  Intensities  Calories  Steps
0  1503960366  4/13/2016 12:00:00 AM       0            1    1.8876      4
1  1503960366   4/13/2016 1:00:00 AM       0            0    0.7865      0
2  1503960366   4/13/2016 2:00:00 AM       0            0    0.7865      0
3  1503960366   4/13/2016 3:00:00 AM       0            0    0.7865      0
4  1503960366   4/13/2016 4:00:00 AM       0            0    0.7865      0

In [6]:
# check the shape of dataset
df.shape

(1298700, 6)

In [7]:
# check if is there any null values in the dataset
df.isnull().sum()

Id              0
ActivityHour    0
Minute          0
Intensities     0
Calories        0
Steps           0
dtype: int64

In [8]:
# check the datatype of all the colimns in dataset
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1298700 entries, 0 to 1298699
Data columns (total 6 columns):
 #   Column        Non-Null Count    Dtype
---  ------        --------------    -----
 0   Id            1298700 non-null  int64
 1   ActivityHour  1298700 non-null  object
 2   Minute        1298700 non-null  int64
 3   Intensities   1298700 non-null  int64
 4   Calories      1298700 non-null  float64
 5   Steps         1298700 non-null  int64
dtypes: float64(1), int64(4), object(1)
memory usage: 69.4+ MB

### Splitting of ActivityHour column in Date and Time Respectively ->

In [9]:
# Define a function to split the ActivityHour column into ActivityDay and ActivityTime
def split_activity_hour(df, column_name='ActivityHour'):
    # Split the column into two parts: Date and Time
    split_columns = df[column_name].str.split(' ', expand=True)
    # Assign the split columns to the dataframe
    df['ActivityDay'] = pd.to_datetime(split_columns[0])  # Convert to datetime format
    df['ActivityTime'] = split_columns[1]
    # Drop the original ActivityHour column
    df.drop(column_name, axis=1, inplace=True)
    return df

In [10]:
# Apply the function to each dataset
df = split_activity_hour(df)
df.head()

           Id  Minute  Intensities  Calories  Steps ActivityDay ActivityTime
0  1503960366       0            1    1.8876      4  2016-04-13     12:00:00
1  1503960366       0            0    0.7865      0  2016-04-13      1:00:00
2  1503960366       0            0    0.7865      0  2016-04-13      2:00:00
3  1503960366       0            0    0.7865      0  2016-04-13      3:00:00
4  1503960366       0            0    0.7865      0  2016-04-13      4:00:00

### Standerdize the column names ->

In [11]:
# Standardize column names
df.columns = df.columns.str.lower().str.replace(r'([a-z])([A-Z])', r'\1_\2').str.replace(r'[^a-z0-9_]', '', regex=True)

# Display the first few rows of the dataframe to verify the new column names
df.head()

           id  minute  intensities  calories  steps activityday activitytime
0  1503960366       0            1    1.8876      4  2016-04-13     12:00:00
1  1503960366       0            0    0.7865      0  2016-04-13      1:00:00
2  1503960366       0            0    0.7865      0  2016-04-13      2:00:00
3  1503960366       0            0    0.7865      0  2016-04-13      3:00:00
4  1503960366       0            0    0.7865      0  2016-04-13      4:00:00

### Rearrange the position of 'activityday' and 'activitytime' column ->

In [12]:
# Rearrange the position of 'activityday' column to be adjacent to 'id' column
cols = list(df.columns)
cols.insert(1, cols.pop(cols.index('activityday')))  # Move 'activityday' and 'acivitytime' next to 'id'
cols.insert(2, cols.pop(cols.index('activitytime'))) 
df = df[cols]

# Display the first few rows of the dataframe to verify the rearrangement
df.head()

           id activityday activitytime  minute  intensities  calories  steps
0  1503960366  2016-04-13     12:00:00       0            1    1.8876      4
1  1503960366  2016-04-13      1:00:00       0            0    0.7865      0
2  1503960366  2016-04-13      2:00:00       0            0    0.7865      0
3  1503960366  2016-04-13      3:00:00       0            0    0.7865      0
4  1503960366  2016-04-13      4:00:00       0            0    0.7865      0

### Formattin the activityday column as datetime datatype ->

In [13]:
# Convert 'activityday' and 'activitytime' to datetime format
df['activityday'] = pd.to_datetime(df['activityday'], format='%d-%m-%Y')
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1298700 entries, 0 to 1298699
Data columns (total 7 columns):
 #   Column        Non-Null Count    Dtype
---  ------        --------------    -----
 0   id            1298700 non-null  int64
 1   activityday   1298700 non-null  datetime64[ns]
 2   activitytime  1298700 non-null  object
 3   minute        1298700 non-null  int64
 4   intensities   1298700 non-null  int64
 5   calories      1298700 non-null  float64
 6   steps         1298700 non-null  int64
dtypes: datetime64[ns](1), float64(1), int64(4), object(1)
memory usage: 79.3+ MB

### Remove Duplicate values if any ->

In [14]:
# chcek if is there any duplicate values in dataset
duplicates = duplicates = df.duplicated().sum()
duplicates

282514

In [15]:
# Remove duplicate rows, keeping the first occurrence of each duplicate
df = df.drop_duplicates()

### Export the Dataset ->

In [16]:
df.to_csv("G:\My Drive\Prepinsta - Data Analytics\Week 8 - Task 8\Master Datasets\minutely_merged_data_wide.csv")